.login-container {
  max-width: 350px;
  background: #fff;
  margin: 60px auto;
  padding: 32px 24px;
  border-radius: 10px;
  box-shadow: 1px 2px 16px rgba(0,0,0,.14);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-form input {
  padding: 10px;
  border: 1.5px solid #aaa;
  border-radius: 5px;
}

.login-form button {
  background: #3f51b5;
  color: #fff;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
